@import "tailwindcss";

input, select, textarea {
  font-size: 16px;
}

@theme {
  --breakpoint-xs: 25rem;
  --color-primary: #172554;   /* Default theme primary color */
  --color-secondary: #1E3A8A; /* Default theme secondary color */
  --color-tertiary: #A3A3A3;  /* Default theme tertiary color */
}

@layer utilities {
  /* Remove number input arrows in Safari */
  .no-spinner {
    -webkit-appearance: textfield;
    appearance: textfield;
  }
  ::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
  }
  html, body {
    scrollbar-width: none; /* Hides scrollbar */
  }
  html, body {
    -ms-overflow-style: none; /* Hides scrollbar */
  }
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
