@import "tailwindcss";


@theme {
  --breakpoint-xs: 25rem;
}

@layer utilities {
  /* Remove number input arrows in Safari */
  .no-spinner {
    -webkit-appearance: textfield;
    appearance: textfield;
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}